
    <!--Footer-->
    <section class="footer">
      <footer>
        <p>Made with HTML, CSS, Bootstrap, Javascript, NodeJs and Express by Olabusiyi</p>
        <p>© Copyright Coin Gecko 2022 (API source)</p>
        <p>All Rights Reserved</p>

      </footer>
    </section>




</body>

</html>
